

body {
  overflow:hidden;
  background-image: url(wall.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
form{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.container-box{
  margin: 0px auto;
    position: relative;
    width: 49vw;
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid black; */
}

p {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: 6px;
  font-family: "Work Sans", sans-serif;
}
/* 
.container-box {
  margin: 0 auto;
  justify-content: center;
} */

#box1 {
  background-color: rgb(29, 31, 31);
  width: 300px;
  height: 78vh;
  display: flex;
  margin: 0px auto;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  flex-direction: column;
  opacity: 0.85;
}

input[type="submit"] {
  text-decoration: none;
  background-color: rgb(6, 105, 57);
  /* margin: 0 auto; */
  width: 14vw;
  height: 8vh;
  display: grid;
  border-style: none;
  border-radius: 38px;
  font-size: 1.2em;
  font-family: "Maven Pro", sans-serif;
  font-family: "Work Sans", sans-serif;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

a {
  text-decoration: none;
  display:inline-block;
  margin:16vh
}

a:hover {
  cursor: pointer;
}

#username {
  background-color: transparent;
  text-decoration: none;
  border-top: none;
  border-right: none;
  border-bottom-color: rgb(3, 133, 10);
  border-bottom-width: thin;
  /* margin-top: 15%; */
  font-size: 1em;
  width: 86%;
  height: 3vh;
  margin-bottom:9vh;
  margin-top:7vh;
}

#pass {
  background-color: transparent;
    text-decoration: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: rgb(3, 133, 10);
    border-bottom-width: thin;
    font-size: 1em;
    width: 86%;
    height: 3vh;
}
#img_container {
  position: relative;
  width: 100%;
  /* border: 2px solid red; */
  text-align: center;
  display: block;
}
#img1{
  width: inherit;
    height: inherit;
    position: center;
    width: 98px;
    height: 98px;
}
#inputTags{
  display: flex;
  flex-direction: column;
  width: 65%;
  align-items: center;
}
